/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 800 */

body {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    color-scheme: dark; /* We need to toggle this based on the user's preference in shadertoy settings */
    color: light-dark(#333b3c, #efefec);
    background-color: light-dark(#efedea, #112233);
}