body {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    color-scheme: dark; /* We need to toggle this based on the user's preference in shadertoy settings */
    color: light-dark(#333b3c, #efedea);
    background-color: light-dark(#efedea, #333b3c);
}

.outerBox {
    display: inline-block;
    border-radius: 1rem;
    padding: .2rem;
    background-color: light-dark(#efedea, #3d4647);
}

.innerBox {
    margin: .5rem;
    border-radius: .5rem;
    background-color: light-dark(#efedea, #333b3c);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: space-between;

}

.innerBox > * {
    margin: .5rem;
}

button {
    border-radius: .2rem;
    border: 0px;
    padding: .2rem;
    background-color: light-dark(#efedea, #3d4647);
}

button:hover {
    background-color: light-dark(#c9c7c5, #4e595a);
    transition: background-color 100ms;
}

.dropdownSelector {
    display: inline-block;
}

#canvas {
    margin: 0px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.codeWindow {
    
}