:root {
    --primary-bg-colour: #333b3c;
    --secondary-bg-colour: #3d4647;
    --primary-txt-colour: #efedea;
    --secondary-txt-colour: #9e9e9e;
}
/* 
We need to toggle dark mode based on the user's preference in shadertoy settings 
OR 
store colour theme preferences in a shader on their account 
*/
  

body {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    color: var(--primary-txt-colour);
    background-color: var(--primary-bg-colour);
}

.content {
    display: flex;
    flex-direction: row;
    column-gap: .5rem;
    row-gap: .5rem;
    padding: .5rem;
    flex-wrap: wrap;
}

.outerBox {
    border-radius: 1rem;
    background-color: var(--secondary-bg-colour);
    padding: .5rem;
    max-width: 100vw;
    min-width: 50rem;
        
    display: flex;
    flex-direction: column;
    column-gap: .5rem;
    row-gap: .5rem;
    flex: 1;
}

.innerBox {
    border-radius: .5rem;
    background-color: var(--primary-bg-colour);
    padding: .5rem;
    
    display: flex;
    flex-direction: column;
    column-gap: .5rem;
    row-gap: .5rem;
}

button {
    border-radius: .2rem;
    border: 0px;
    padding: .5rem;
    color: var(--primary-text-colour);
    background-color: var(--secondary-bg-colour);
}

button:hover {
    background-color: var(--secondary-txt-colour);
    transition: background-color 100ms;
}

#canvas {
    margin: 0px -.5rem;
}

.optionsBox {
    flex-direction: row;
    justify-content: space-around;
}

#advancedBox {
    display: none;
}

#exportBox {
    display: none;
}

p {
    margin: 0px;
}